.row{
  margin-left:0;
  margin-right: 0px;
}
.transition, .sideBarePanel{
  height: 400px;
  width: 100%;
  background-color: #f0f2f4;
  border-bottom: 2px solid green;
}
.title{
  width: 300px;
}
.bloc{
  width: 200px;
  height: 200px;
  background-color: blue;
}
.sideBare{
  background-color: green;
  height: 200px;
  // width: 200px;
}
