<div class="principal-content">
  <div class="transition">
    <h1 class="mx-auto title">Transition</h1>
    <hr>
    <div class="row d-flex flex-row justify-content-around">
      <button type="button" class="ml btn btn-success" (click)="setState('normal')">Success</button>
      <button type="button" class="mr btn btn-danger"  (click)="setState('wild')">Danger</button>
    </div>
    <div class="row animated">
      <div [@square]='currentSate' class="mx-auto mt-3 bloc"></div>
    </div>
  </div>
  <div class="sideBarePanel">
      <h1 class="mx-auto title">Side bare</h1>
      <hr>
      <div class="row d-flex flex-row justify-content-around">
        <button type="button" class="ml btn btn-success" (click)="setPanelState('displayed')">Afficher</button>
        <button type="button" class="mr btn btn-primary"  (click)="setPanelState('hidden')">Danger</button>
      </div> {{display}}
      <div class="sideBare mt-5" [@sideBare]="sideBareState" *ngIf="true">
      </div>

    </div>

</div>
